@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}
